<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>忘记密码</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/forgetpassword.min.css">
</head>
<body>
	<div class="forgetpassword" id="dpLTE" v-cloak>
		<div class="message">找回账号密码</div>
		<div id="darkbannerwrap"></div>
		<form method="post">
			<div v-if="error" class="alert alert-danger alert-dismissible">
				<h4 style="margin-bottom: 0px;font-size:13px;">
					<i class="fa fa-exclamation-triangle"></i> {{errorMsg}}
				</h4>
			</div>
			<!-- <input placeholder="用户名" v-model="username_" type="text">  -->
			<hr class="hr15">
			<input placeholder="邮箱/手机号" v-model="username" type="text">
			<hr class="hr15">                        
                      
            <a><span v-show="sendAuthCode"  @click="validate">获取验证码</span>
            <span v-show="!sendAuthCode"><span>{{auth_time}}</span> 秒后重新发送验证码</span></a>
            <hr class="hr20">
                        
            <input placeholder="验证码" v-model="identify" type="text">
			<hr class="hr15">
			
            <div class="form-group has-feedback">                                
            </div>

			<input value="下一步" style="width: 100%;" type="button" @click="passtep">
			<hr class="hr20">			
			<a href="login.html" style="float:right">返回登录</a>
		</form>
	</div>
	<div class="copyright">
		© 2018 <a href="http://kdecm.uestc.edu.cn/kdecmServlet?method=index" target="_blank">电子科技大学KDECM实验室</a>
	</div>
	<script src="libs/jquery.min.js"></script>
	<script src="libs/vue.min.js"></script>
	<script type="text/javascript">
		var vm = new Vue({
			el : '#dpLTE',
			data : {
				flag:'',
				username : '',
				identify : '',			             
				error : false,
				errorMsg : '',
				sendAuthCode:true,
				auth_time: 0,
                code:''
                /* username_:'' */
			},
			beforeCreate : function() {
				if (self != top) {
					top.location.href = self.location.href;
				}
			},
			methods : {
                passtep : function() {
                	//alert("----");
                	//alert(vm.identify);
                	/* if (vm.username_ == '') {
						vm.error = true;
						vm.errorMsg = '用户名为空';
						return false;
					}	 */
                    if (vm.username == '') {
						vm.error = true;
						vm.errorMsg = '邮箱/手机号为空';
						return false;
					}					
                    if(vm.identify == '') {
                        vm.error = true;
                        vm.errorMsg = '验证码为空';
                        return false;
                    }
                    if(vm.identify == vm.code){
                        /* vm.error = false; */
                    	localStorage.setItem("validateCode",vm.username);
                    	localStorage.setItem("flag",vm.flag);
                    	/* localStorage.setItem("username",vm.username_); */
                    	window.location.href="newpassword.html";	
                    }
                    if(vm.identify != vm.code & vm.identify != ''){
                        vm.error = true;
                        vm.errorMsg = '验证码不正确';
                        return false;
                    }                    
                },
				validate : function(event) {
					//alert("jinle");
				var reg=11 && /^((13|14|15|17|18)[0-9]{1}\d{8})$/;
				var regEmail= /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
					if (vm.username == '') {
						vm.error = true;
						vm.errorMsg = '邮箱/手机号为空';
						return false;
					}else{
					if(!reg.test(vm.username) & !regEmail.test(vm.username)){
					    vm.error = true;
						vm.errorMsg = '邮箱/手机号格式不正确';
						return false;					
					}else{
						if(reg.test(vm.username)){
							vm.flag=2;//手机号
							vm.error = false;
						}else{
							vm.flag=1;//邮箱
							vm.error = false;
						}	
						//alert(flag);										
					}
						//alert(vm.username+" "+flag);	
						$.ajax({
							type : "POST",
							url : "sys/forgetpassword",
							dataType : "json",
							data:{
								/* useraccount:vm.username_,//用户名 */
								validateCode:vm.username,//手机/邮箱账号
								flag:vm.flag  //手机/邮箱标识
							},
							success : function(res){
								if(res.success == "0"){
								    vm.sendAuthCode = false;
        	                        vm.auth_time = 60;
       	 	                        var auth_timetimer =  setInterval(function(){
        	                        vm.auth_time--;
       		                        if(vm.auth_time<=0){
       		                        vm.sendAuthCode = true;
       		                        clearInterval(auth_timetimer);
     	                            }
                                     }, 1000);								    
									sendEmailAndCode(vm.flag);
							}else{
								vm.error = true;
								vm.errorMsg = res.msg;
	                        	//vm.errorMsg = '邮箱/手机号未注册';		
								}	
						}
					});	 
				   }
				}
			}
		});	
function sendEmailAndCode(flag){
	$.ajax({
		type : "POST",
		url : "sys/sendCode",
		data : {validateCode:vm.username,
				flag:flag
				},
		dataType : "json",
		success:function(res) {		
			vm.code=res.success;
			//alert("验证码为："+vm.code);
			vm.error = false;
	    	//vm.sendAuthCode = false;
        	//vm.auth_time = 60;
       	 	//var auth_timetimer =  setInterval(()=>{
        	//vm.auth_time--;
       		//if(vm.auth_time<=0){
       		//vm.sendAuthCode = true;
       		//clearInterval(auth_timetimer);
     	//}
     //}, 1000);
       	 	} 
	})
}
	</script>
</body>
</html>
