<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>新密码</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/newpassword.min.css">
</head>
<body>
	<div class="newpassword" id="dpLTE" v-cloak>
		<div class="message">重置密码</div>
		<div id="darkbannerwrap"></div>
		<form method="post">
			<div v-if="error" class="alert alert-danger alert-dismissible">
				<h4 style="margin-bottom: 0px; font-size: 13px;">
					<i class="fa fa-exclamation-triangle"></i> {{errorMsg}}
				</h4>
			</div>
			<hr class="hr15">
			<label>新密码 &nbsp&nbsp</label><input placeholder="输入新密码"
				style="width: 70%;" v-model="password" type="password">
			<hr class="hr15">

			<label>确认密码</label><input placeholder="再次输入新密码" style="width: 70%;"
				v-model="spassword" type="password">
			<hr class="hr15">

			<div class="form-group has-feedback"></div>

			<input value="确定" style="width: 100%;" type="button" @click="passtep">
			<hr class="hr20">
		</form>
	</div>
	<div class="copyright">
		© 2018 <a href="http://kdecm.uestc.edu.cn/kdecmServlet?method=index" target="_blank">电子科技大学KDECM实验室</a>
	</div>
	<script src="libs/jquery.min.js"></script>
	<script src="libs/vue.min.js"></script>
	<script th:src="@{/js/common.js}"></script>
	<script type="text/javascript">
		jQuery.getUrlParam = function(name) {
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
			var r = window.location.search.substr(1).match(reg);
			if (r != null)
				return unescape(r[2]);
			return null;
		}
		//var username = $.getUrlParam('validateCode');
		//alert(username+"-----");
		//var flag = $.getUrlParam('flag');
		//alert(flag);
		var username = localStorage.getItem("validateCode");
		//alert(username);
		var flag = localStorage.getItem("flag");
		/* var username_ = localStorage.getItem("username"); */
		//alert(flag);
		var vm = new Vue({
			el : '#dpLTE',
			data : {
				password : '',
				spassword : '',
				username : '',
				error : false,
				errorMsg : '',
				src : 'sys/captcha.jpg'
			},
			beforeCreate : function() {
				if (self != top) {
					top.location.href = self.location.href;
				}
			},
			methods : {
				refreshCode : function() {
					this.src = "sys/captcha.jpg?t=" + $.now();
				},

				passtep : function(event) {
					if (vm.password == '') {
						vm.error = true;
						vm.errorMsg = '请输入新密码';
						return false;
					}
					if (vm.spassword == '') {
						vm.error = true;
						vm.errorMsg = '请确认密码';
						return false;
					}
					if(vm.password.length < 6 ){
						vm.error = true;
						vm.errorMsg = "密码少于6位";
						return false;
					}
					if (vm.password == vm.spassword) {
						//存密码
						vm.error = false;
						saveUserPassword();
					} else {
						vm.error = true;
						vm.errorMsg = '两次输入密码不同';
						return false;
					}
				}
			}
		});

		function saveUserPassword() {
			$.ajax({
				url : 'sys/user/resetPwd',
				type : 'POST',
				dataType : 'json',
				data : {
					username : username,
					password : vm.spassword,
					flag : flag,
					/* username_ : username_ */
				},
				success : function(res) {
					console.log(res);
					//alert("密码更新成功！");
					parent.location.href = 'login.html';//跳转页面
				},
				error : function(msg) {
					vm.error = true;
					vm.errorMsg = msg;
					alert(msg);
				}
			});
		}
	</script>
</body>
</html>
