<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('')">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div id="dpLTE" class="container-fluid" v-cloak>
	<div class="row">
		<div class="col-md-4 form-inline pull-left">
			<div class="form-group">
		    	<input v-model="keyword" @keyup.enter="load" type="text" class="form-control" placeholder="请输入查询关键词" style="width: 220px;" />
			</div>
			<div class="form-group">
			    <a class="btn btn-primary" @click="load"><i class="fa fa-search"></i>&nbsp;查询</a> 
			</div>
			<div class="hiddenArea" id="hiddenArea">
  				<input type="hidden" class="currentUserId" v-model="userId" />
  			</div>
		</div>
		
	</div>
	<div class="row">
		<table id="dataGrid"></table>
	</div>
</div>
<div th:include="include/footer_js::footer"></div>

<script type="text/javascript">
	var vm = new Vue({
		el:'#hiddenArea',
		data: {
			userId : top.vm.user.userId	
		}
	})
</script>
<div th:include="include/footer_js::footer"></div>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/kdecm/postil/listforgroup.js}"></script>
</body>
</html>