<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form" border="0">
			<tr>
	            <td class="formTitle">批注网络名称</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="" v-model="graph.graphName" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">创建者</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="" v-model="graph.graphCreatorName" isvalid="yes" checkexpession="NotNull" readonly="readonly">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/kdecm/graph/add.js}"></script>
</body>
</html>