<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.blog.dao.TBlogMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.blog.entity.TBlogEntity">
		SELECT
			`id`, 
			`name`
		FROM
			t_blog
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO t_blog (
			`name`
		)
		VALUES (
			#{name}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.blog.entity.TBlogEntity">
		SELECT
			`id`, 
			`name`
		FROM
			t_blog
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE t_blog
	 	<set>
			<if test="name != null">`name` = #{name}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			t_blog
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>